@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A0F0A;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: #100f0f;
  background-attachment: fixed;
  min-height: 100vh;
  /* Content Protection */
  user-select: none;
  -webkit-user-select: none;
}

img, video {
  /* Prevent dragging and interaction on media */
  -webkit-user-drag: none;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}